<!-- modules/Shoplist.vue -->
<script setup>
import ShopItem from '../components/ShopItem.vue'

defineProps({
  productsList: {
    type: Array
  }
})
</script>

<template>
  <div class="item-list">
    <ShopItem v-for="item in productsList" :item="item" :key="item"></ShopItem>
  </div>
</template>

<style scoped lang="scss">
.item-list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -24px;
}

@media (max-width: 1300px) {
  .item-list {
    justify-content: center;
    margin: 0;
  }
}

@media (max-width: 820px) {
  .item-list {
    flex-direction: column;
    align-items: center;
  }
}
// @media (max-width: 1599px) {
//   .item-list {
//     justify-content: center;
//   }
// }
</style>
