<!-- UI/CartBtn.vue -->
<script setup>
const props = defineProps({
  added: {
    type: Boolean
  }
})

const emit = defineEmits(['toggleInCart'])
</script>

<template>
  <div class="cart">
    <div class="cart__btn" :class="{ added: props.added }" @click="emit('toggleInCart')"></div>
  </div>
</template>

<style scoped lang="scss">
.cart {
  position: absolute;
  right: 50px;
  bottom: 4px;

  .cart__btn {
    width: 36px;
    height: 36px;
    background: url('../assets/icons/icon-shop-cart.svg') 50% 50% no-repeat;
    cursor: pointer;

    &.added {
      background: url('../assets/icons/icon-shop-cart-added.svg') 50% 50% no-repeat;
    }
  }
}
</style>
