<!-- UI/FavoriteBtn.vue -->
<script setup>
const props = defineProps({
  pressed: {
    type: Boolean
  }
})

const emit = defineEmits(['toggleFavorite'])
</script>

<template>
  <div class="favorite">
    <div
      class="favorite__btn"
      :class="{ pressed: !!props.pressed }"
      @click="emit('toggleFavorite')"
    ></div>
  </div>
</template>

<style scoped lang="scss">
.favorite {
  position: absolute;
  right: 14px;
  bottom: 4px;

  .favorite__btn {
    width: 36px;
    height: 36px;
    background: url('../assets/icons/icon-shop-like.svg') 50% 50% no-repeat;
    cursor: pointer;

    &:hover {
      background: url('../assets/icons/icon-shop-like-hover.svg') 50% 50% no-repeat;
    }

    &.pressed {
      background: url('../assets/icons/icon-shop-like-pressed.svg') 50% 50% no-repeat;
    }
  }
}
</style>
