<!-- UI/SelectUI.vue -->
<script setup>
import { ref } from 'vue'
const props = defineProps({
  isOpen: {
    type: Boolean,
    default: false
  },
  selected: {
    //Выбранная опция по ID
    type: Number,
    default: 0
  },
  options: {
    // Опции селекта
    type: Object
  }
})

const emit = defineEmits(['select'])

let isOpen = ref(props.isOpen)

function toggleDropdown() {
  return (isOpen.value = !isOpen.value)
}

function selectOption(id) {
  isOpen.value = false
  emit('select', id)
}
</script>

<template>
  <div class="select">
    <div class="select__label">
      <slot></slot>
    </div>

    <div class="select__field" :class="{ select__field_open: isOpen }" @click="toggleDropdown()">
      {{
        props.selected == 0 ? 'Не выбрано' : options.find((opt) => opt.id == props.selected).name
      }}
      <img class="select__field__arrow" src="../assets/icons/icon-dropdown.svg" />
    </div>
    <div class="select__dropdown" :class="{ select__dropdown_open: isOpen }">
      <div @click="selectOption(0)" class="select__dropdown__option">Не выбрано</div>

      <div
        @click="selectOption(option.id)"
        v-for="option in options"
        :key="option"
        class="select__dropdown__option"
      >
        {{ option.name }}
      </div>
    </div>
  </div>
</template>

<style scoped lang="scss">
.select {
  width: 288px;
  position: relative;

  .select__label {
    color: #4f4f4f;
    font: 400 12px/1.5em SF Pro Display;
    padding-left: 16px;
    margin-bottom: 6px;
    letter-spacing: 0.03em;
  }

  .select__field {
    width: 100%;
    height: 40px;
    background: #f2f2f2;
    padding: 9px 16px;
    position: relative;
    cursor: pointer;

    .select__field__arrow {
      position: absolute;
      right: 16px;
      top: 8px;
      transition: all 0.1s ease-in-out;
    }

    &.select__field_open {
      .select__field__arrow {
        transform: rotate(-180deg);
      }
    }
  }

  .select__dropdown {
    width: 100%;
    outline: 1px solid#f6f6f6;
    outline-offset: -1px;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;
    opacity: 0;
    transition: all 0.1s ease-in-out;
    pointer-events: none;

    &.select__dropdown_open {
      opacity: 1;
      pointer-events: all;
    }

    .select__dropdown__option {
      padding: 9px 16px;
      height: 40px;
      background: #f6f6f6;
      &:hover {
        background: #fff;
      }
    }
  }
}

@media (max-width: 820px) {
  .select {
    width: 336px;
  }
}

@media (max-width: 400px) {
  .select {
    width: 100%;
  }
}

@media (max-width: 280px) {
  .select {
    .select__field {
      padding: 9px 4px;
      font-size: 12px;
      .select__field__arrow {
        top: 12px;
        width: 14px;
        right: 2px;
      }
    }

    .select__dropdown {
      .select__dropdown__option {
        font-size: 12px;
      }
    }
  }
}
</style>
