<script setup>
import ShopList from '../modules/ShopList.vue'
import BreadcrumbsList from '../components/BreadcrumbsList.vue'
import SelectUI from '../UI/SelectUI.vue'
import _ from 'lodash'

import filterOptions from '../jsons/materials.json'
import sortingOptions from '../jsons/sort.json'
import productsList from '../jsons/items.json'

import { storeToRefs } from 'pinia'
import { useShopSettingsStore } from '../stores/shopSettingsStore'
import { computed } from 'vue'

const store = useShopSettingsStore()

const { settings } = storeToRefs(store)

const list = productsList

const filteredSortedProductsList = computed(() => {
  let filtered
  if (settings.value.material == 0) {
    filtered = list
  } else {
    filtered = list.filter((item) => item.material == settings.value.material)
  }

  let sorted
  if (settings.value.sort == 1) {
    sorted = _.orderBy(filtered, ['price.current_price'], ['asc'])
  } else if (settings.value.sort == 2) {
    sorted = _.orderBy(filtered, ['price.current_price'], ['desc'])
  } else {
    sorted = filtered
  }

  return sorted
})
</script>

<template>
  <div class="shop">
    <BreadcrumbsList></BreadcrumbsList>
    <h1>Комплекты стеллажных систем</h1>
    <!-- <SelectUI> </SelectUI> -->
    <div class="shop__selects">
      <SelectUI
        :selected="Number(settings.sort)"
        :options="sortingOptions"
        @select="store.setSort($event)"
        >Сортировать по:</SelectUI
      >
      <SelectUI
        :selected="Number(settings.material)"
        :options="filterOptions"
        @select="store.setMaterial($event)"
        >Материал</SelectUI
      >
    </div>

    <ShopList :products-list="filteredSortedProductsList"></ShopList>
  </div>
</template>

<style>
.shop {
  width: 100%;
  min-height: 100vh;

  h1 {
    font: 600 36px/48px SF Pro Display;
    margin-bottom: 32px;
  }

  .shop__selects {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1300px) {
  .shop {
    .shop__selects {
      justify-content: center;
      gap: 16px;
    }
    h1 {
      text-align: center;
    }
  }
}

@media (max-width: 820px) {
  .shop {
    .shop__selects {
      flex-direction: column;
      align-items: center;
    }
  }
}
</style>
