<!-- components/Breadcrumbs.vue -->
<script setup>
defineProps({
  nav: {
    type: Array,
    default: () => [
      {
        name: 'Главная',
        link: '#'
      },
      {
        name: 'Системы хранения',
        link: '#'
      },
      {
        name: 'Комплекты стеллажных систем'
      }
    ]
  }
})
</script>

<template>
  <nav class="breadcrumbs">
    <span class="breadcrumbs__item" v-for="page in nav" :key="page">
      <a v-if="!!page.link" :href="page.link">
        {{ page.name }} <span class="breadcrumbs__item__separator">/</span></a
      >
      <span v-else>{{ page.name }}</span>
    </span>
  </nav>
</template>

<style scoped lang="scss">
.breadcrumbs {
  display: flex;
  flex-basis: auto;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 32px;

  .breadcrumbs__item {
    font: 400 16px/1em SF UI Text;
    color: #000000;
    .breadcrumbs__item__separator {
      margin: 0 10px;
    }

    &:last-of-type {
      .breadcrumbs__item__separator {
        display: none;
      }
    }
  }
}
</style>
