<!-- components/ShopItem.vue -->
<script setup>
import { computed } from 'vue'
import CartBtn from '../UI/CartBtn.vue'
import FavoriteBtn from '../UI/FavoriteBtn.vue'

import { useShopUserDataStore } from '../stores/shopUserDataStore'

const store = useShopUserDataStore()

const props = defineProps({
  item: {
    type: Object
  }
})

const item = props.item

const itemId = props.item.id

// const emit = defineEmits(['toggleFavorite', 'addToCart'])

function toggleFavorite() {
  store.toggleLikedProduct(props.item.id)
}

function toggleInCart() {
  store.toggleToCart(props.item.id)
}

const isInCart = computed(() => {
  let count = 0
  store.userData.productsInCart.forEach((id) => {
    id == itemId ? count++ : ''
  })
  if (count > 0) {
    return true
  }
  return false
})

const isFavorite = computed(() => {
  let count = 0
  store.userData.likedProducts.forEach((id) => {
    id == itemId ? count++ : ''
  })
  if (count > 0) {
    return true
  }
  return false
})

const imageSrc = computed(() => {
  return new URL(item.image.url, import.meta.url).href
})
</script>

<template>
  <div class="item">
    <div v-if="!!item.price.old_price" class="item__sale">Скидка</div>
    <div v-if="item.image" class="item__picture">
      <img :src="imageSrc" alt="" />
    </div>
    <div v-else class="item__picture__placeholder">
      <img :src="item.image.url" alt="" />
    </div>
    <p class="item__code">{{ item.code }}</p>
    <p class="item__name">{{ item.name }}</p>
    <p class="item__price">
      <span v-if="!!item.price.old_price" class="item__price__old"
        >{{ item.price.old_price }}₽</span
      >
      <span class="item__price__current">{{ item.price.current_price }}₽</span>
    </p>

    <CartBtn @toggle-in-cart="toggleInCart" :added="isInCart"></CartBtn>
    <FavoriteBtn @toggle-favorite="toggleFavorite" :pressed="isFavorite"></FavoriteBtn>
  </div>
</template>

<style scoped lang="scss">
.item {
  position: relative;
  width: calc(25% - 48px);
  flex-basis: calc(25% - 48px);
  min-height: 300px;
  outline: 1px solid #eeeeee;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 9px 12px;
  margin: 0 24px 40px;
  min-width: 336px;

  [class*='item__picture'] {
    width: calc(100% - 2vw);
    height: 240px;
    background: 50% 0 no-repeat;
    background-size: contain;
    align-self: center;
    text-align: center;

    img {
      max-width: 100%;
      max-height: 240px;
    }
  }

  .item__picture__placeholder {
    background-image: url('../assets/pics/image-placeholder.jpg');
  }

  .item__code {
    font:
      normal 10px/14px SF UI Text,
      Arial;
    margin-bottom: 5px;
  }

  .item__name {
    font:
      500 16px/22.4px SF UI Text,
      Arial;
    margin-bottom: 10px;
  }

  .item__price {
    font:
      400 16px/22.4px SF UI Text,
      Arial;
    letter-spacing: 0.02em;
    .item__price__old {
      color: #888888;
      margin-right: 10px;
      text-decoration: line-through;
    }

    .item__price__current {
      color: #000000;
    }
  }

  .item__sale {
    position: absolute;
    top: 8px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eb5757;
    width: 81px;
    height: 24px;
    color: #fff;
    font:
      500 14px/18.2px SF Pro Display,
      Arial;
  }
}

@media (max-width: 820px) {
  .item {
    width: 100%;
    flex-basis: 100%;
    max-width: 336px;
    min-width: 0;
    margin: 0 0 40px;
  }
}
</style>
