/* SF PRO DISPLAY */

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF_Pro_Display/SF-Pro-Display-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../fonts/SF_Pro_Display/SF-Pro-Display-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* SF UI */

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-LightItalic.eot');
  src:
    local('SF UI Text LightItalic'),
    local('SFUIText-LightItalic'),
    url('../fonts/SF_UI/SFUIText-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-LightItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-LightItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-LightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Regular.eot');
  src:
    local('SF UI Display Regular'),
    local('SFUIDisplay-Regular'),
    url('../fonts/SF_UI/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Regular.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-RegularItalic.eot');
  src:
    local('SF UI Text Regular Italic'),
    local('SFUIText-RegularItalic'),
    url('../fonts/SF_UI/SFUIText-RegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-RegularItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-RegularItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Ultralight.eot');
  src:
    local('SF UI Display Ultralight'),
    local('SFUIDisplay-Ultralight'),
    url('../fonts/SF_UI/SFUIDisplay-Ultralight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Ultralight.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Ultralight.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Ultralight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-SemiboldItalic.eot');
  src:
    local('SF UI Text SemiboldItalic'),
    local('SFUIText-SemiboldItalic'),
    url('../fonts/SF_UI/SFUIText-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-SemiboldItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-SemiboldItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Heavy.eot');
  src:
    local('SF UI Display Heavy'),
    local('SFUIDisplay-Heavy'),
    url('../fonts/SF_UI/SFUIDisplay-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Heavy.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Heavy.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Heavy.eot');
  src:
    local('SF UI Text Heavy'),
    local('SFUIText-Heavy'),
    url('../fonts/SF_UI/SFUIText-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Heavy.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Heavy.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Black.eot');
  src:
    local('SF UI Display Black'),
    local('SFUIDisplay-Black'),
    url('../fonts/SF_UI/SFUIDisplay-Black.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Black.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Black.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Semibold.eot');
  src:
    local('SF UI Text Semibold'),
    local('SFUIText-Semibold'),
    url('../fonts/SF_UI/SFUIText-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Semibold.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Semibold.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Semibold.eot');
  src:
    local('SF UI Display Semibold'),
    local('SFUIDisplay-Semibold'),
    url('../fonts/SF_UI/SFUIDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Semibold.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Semibold.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Medium.eot');
  src:
    local('SF UI Text Medium'),
    local('SFUIText-Medium'),
    url('../fonts/SF_UI/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Medium.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Medium.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Light.eot');
  src:
    local('SF UI Text Light'),
    local('SFUIText-Light'),
    url('../fonts/SF_UI/SFUIText-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Light.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Light.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Bold.eot');
  src:
    local('SF UI Display Bold'),
    local('SFUIDisplay-Bold'),
    url('../fonts/SF_UI/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Bold.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Bold.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Regular.eot');
  src:
    local('SF UI Text Regular'),
    local('SFUIText-Regular'),
    url('../fonts/SF_UI/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Regular.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Regular.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Thin.eot');
  src:
    local('SF UI Display Thin'),
    local('SFUIDisplay-Thin'),
    url('../fonts/SF_UI/SFUIDisplay-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Thin.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Thin.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-BoldItalic.eot');
  src:
    local('SF UI Text BoldItalic'),
    local('SFUIText-BoldItalic'),
    url('../fonts/SF_UI/SFUIText-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-BoldItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-BoldItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-Bold.eot');
  src:
    local('SF UI Text Bold'),
    local('SFUIText-Bold'),
    url('../fonts/SF_UI/SFUIText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-Bold.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-Bold.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Medium.eot');
  src:
    local('SF UI Display Medium'),
    local('SFUIDisplay-Medium'),
    url('../fonts/SF_UI/SFUIDisplay-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Medium.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Medium.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-HeavyItalic.eot');
  src:
    local('SF UI Text HeavyItalic'),
    local('SFUIText-HeavyItalic'),
    url('../fonts/SF_UI/SFUIText-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-HeavyItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-HeavyItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'SF UI Display';
  src: url('../fonts/SF_UI/SFUIDisplay-Light.eot');
  src:
    local('SF UI Display Light'),
    local('SFUIDisplay-Light'),
    url('../fonts/SF_UI/SFUIDisplay-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIDisplay-Light.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIDisplay-Light.woff') format('woff'),
    url('../fonts/SF_UI/SFUIDisplay-Light.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text';
  src: url('../fonts/SF_UI/SFUIText-MediumItalic.eot');
  src:
    local('SF UI Text MediumItalic'),
    local('SFUIText-MediumItalic'),
    url('../fonts/SF_UI/SFUIText-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SF_UI/SFUIText-MediumItalic.woff2') format('woff2'),
    url('../fonts/SF_UI/SFUIText-MediumItalic.woff') format('woff'),
    url('../fonts/SF_UI/SFUIText-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
