@import './base.css';
@import './fonts.css';

#app {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  color: #727783;
  text-decoration: none;
}

@media (max-width: 1600px) {
  #app {
    max-width: 1216px;
  }
}

@media (max-width: 1300px) {
  #app {
    max-width: 840px;
  }
}

/* @media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
